vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Apr 2019 18:21:33 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|INTRANET\\junior
vti_timecreated:TR|30 Jun 2016 17:54:08 -0000
vti_nexttolasttimemodified:TR|21 Oct 2016 12:18:18 -0000
vti_backlinkinfo:VX|dupla-falta-2015/fotos2/index.html dupla-falta-2015/fotos2/js/performances.html
vti_cacheddtm:TX|21 Nov 2018 12:14:49 -0000
vti_filesize:IR|28236
vti_cachedlinkinfo:VX|S|font/nano_icon_font3.eot S|font/nano_icon_font3.eot S|font/nano_icon_font3.woff S|font/nano_icon_font3.ttf S|font/nano_icon_font3.svg S|loading.gif S|nano_logo.png S|loading.gif
vti_cachedsvcrellinks:VX|FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/font/nano_icon_font3.eot FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/font/nano_icon_font3.eot FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/font/nano_icon_font3.woff FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/font/nano_icon_font3.ttf FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/font/nano_icon_font3.svg FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/loading.gif FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/nano_logo.png FSUS|dupla-falta-2015/fotos2/js/css/themes/clean/loading.gif
