vti_encoding:SR|utf8-nl
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timelastmodified:TR|03 Aug 2015 14:20:10 -0000
vti_timecreated:TR|03 Aug 2015 14:20:10 -0000
vti_cacheddtm:TX|03 Aug 2015 14:20:07 -0000
vti_filesize:IR|7948
vti_extenderversion:SR|6.0.2.8161
vti_thicketsupportingfile:BW|true
vti_backlinkinfo:VX|dupla-falta-2015/ranking/ranking/1-classe-masculino_arquivos/sheet001.htm dupla-falta-2015/ranking/ranking/1-classe-masculino.htm dupla-falta-2015/ranking/ranking/1-masculino/1-classe-masculino.htm
