vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 May 2017 19:14:36 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timecreated:TR|17 Nov 2016 13:20:01 -0000
vti_cacheddtm:TX|29 May 2017 19:14:33 -0000
vti_filesize:IR|2323
vti_cachedlinkinfo:VX|S|roundbutton.png S|shadowt.png S|shadowtr.png S|shadowr.png S|shadowbr.png S|shadowb.png S|shadowbl.png S|shadowl.png S|shadowtl.png
vti_cachedsvcrellinks:VX|FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/roundbutton.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowt.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowtr.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowr.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowbr.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowb.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowbl.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowl.png FSUS|Meus\\ Sites/dupla-falta-2015/topo/js/shadowtl.png
vti_nexttolasttimemodified:TR|17 Nov 2016 13:20:01 -0000
vti_backlinkinfo:VX|Meus\\ Sites/dupla-falta-2015/topo.html dupla-falta-2015/index.html
