vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Jul 2018 10:50:04 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timecreated:TR|25 Jul 2016 17:17:43 -0000
vti_nexttolasttimemodified:TR|31 Jul 2018 10:49:36 -0000
vti_backlinkinfo:VX|dupla-falta-2015/granexopen/2018/index.html
vti_cacheddtm:TX|31 Jul 2018 10:49:18 -0000
vti_filesize:IR|2346
vti_cachedlinkinfo:VX|S|leftarrow3.png S|rightarrow3.png S|dot0.png S|dot1.png S|shadowt.png S|shadowtr.png S|shadowr.png S|shadowbr.png S|shadowb.png S|shadowbl.png S|shadowl.png S|shadowtl.png
vti_cachedsvcrellinks:VX|FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/leftarrow3.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/rightarrow3.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/dot0.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/dot1.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowt.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowtr.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowr.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowbr.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowb.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowbl.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowl.png FSUS|dupla-falta-2015/granexopen/2018/images/principal/js/shadowtl.png
