vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Nov 2016 11:20:32 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timecreated:TR|10 Apr 2015 17:29:23 -0000
vti_cacheddtm:TX|10 Apr 2015 17:29:23 -0000
vti_filesize:IR|2323
vti_cachedlinkinfo:VX|S|roundbutton.png S|shadowt.png S|shadowtr.png S|shadowr.png S|shadowbr.png S|shadowb.png S|shadowbl.png S|shadowl.png S|shadowtl.png
vti_cachedsvcrellinks:VX|FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/roundbutton.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowt.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowtr.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowr.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowbr.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowb.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowbl.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowl.png FSUS|Meus\\ Sites/dupla-falta-2015/old/cameras/images/js/shadowtl.png
vti_nexttolasttimemodified:TR|10 Apr 2015 17:29:23 -0000
