vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Feb 2005 03:43:50 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timecreated:TR|09 Feb 2005 03:43:50 -0000
vti_cacheddtm:TX|09 Feb 2005 03:43:50 -0000
vti_filesize:IR|4683
vti_cachedtitle:SR|{Titulo}
vti_cachedbodystyle:SR|<body bgcolor="#FFFFFF" topmargin="10" leftmargin="0" marginheight="0" marginwidth="0">
vti_cachedlinkinfo:VX|S|mural.js A|form.php H|javascript:emoticon('{cod_smilie}') S|imagens/smilies/{url_smilie} H|javascript:popup('smilies.php H|javascript:popup('ajuda.php',260,335,'no','Ajuda',10,500); S|biblioteca/img.php
vti_cachedsvcrellinks:VX|NSUS|dupla_falta/mural/templates/default/mural.js NAUS|dupla_falta/mural/templates/default/form.php SHUS|javascript:emoticon('{cod_smilie}') NSUS|dupla_falta/mural/templates/default/imagens/smilies/{url_smilie} SHUS|javascript:popup('smilies.php SHUS|javascript:popup('ajuda.php',260,335,'no','Ajuda',10,500); NSUS|dupla_falta/mural/templates/default/biblioteca/img.php
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=iso-8859-1
vti_charset:SR|iso-8859-1
vti_title:SR|{Titulo}
vti_backlinkinfo:VX|
