vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jan 2005 16:58:24 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timecreated:TR|18 Jan 2005 16:58:24 -0000
vti_cacheddtm:TX|18 Jan 2005 16:58:24 -0000
vti_filesize:IR|3427
vti_cachedtitle:SR|{Titulo} - Login
vti_cachedlinkinfo:VX|Q|mural.css A|login.php S|imagens/login.gif
vti_cachedsvcrellinks:VX|NQUS|dupla_falta/mural/templates/default/mural.css NAUS|dupla_falta/mural/templates/default/login.php NSUS|dupla_falta/mural/templates/default/imagens/login.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=iso-8859-1
vti_charset:SR|iso-8859-1
vti_title:SR|{Titulo} - Login
vti_backlinkinfo:VX|
