vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Feb 2005 04:02:44 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|JUNIOR\\junior
vti_modifiedby:SR|JUNIOR\\junior
vti_timecreated:TR|09 Feb 2005 04:02:44 -0000
vti_cacheddtm:TX|09 Feb 2005 04:02:44 -0000
vti_filesize:IR|3424
vti_cachedtitle:SR|Smilies
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|S|../imagens/bg_visualizar.jpg S|mural.js S|{link_smilies} H|javascript:emoticon2('{code_smilies}'); H|javascript:window.close();
vti_cachedsvcrellinks:VX|NSUS|dupla_falta/mural/templates/imagens/bg_visualizar.jpg NSUS|dupla_falta/mural/templates/default/mural.js NSUS|dupla_falta/mural/templates/default/{link_smilies} SHUS|javascript:emoticon2('{code_smilies}'); SHUS|javascript:window.close();
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=iso-8859-1
vti_charset:SR|iso-8859-1
vti_title:SR|Smilies
vti_backlinkinfo:VX|
